--index-url https://us-central1-python.pkg.dev/mirrorneuron-public-packages/agent-skills/simple/
--extra-index-url https://pypi.org/simple
mirrorneuron-blueprint-support-skill==1.2.7
mirrorneuron-membrane-python-sdk
mirrorneuron-evidence-engine-skill
mirrorneuron-actor-review-skill
mirrorneuron-client-report-skill
mirrorneuron-document-reading-skill
mirrorneuron-public-research-orchestrator-skill
mirrorneuron-scoring-framework-skill
mirrorneuron-llm-ocr-skill==1.2.7
mirrorneuron-rag-skill==1.2.14
mirrorneuron-w3m-browser-skill==1.2.7
mirrorneuron-web-browser-skill==1.2.7
